<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	<!--
	<add name="MasterPiece" connectionString="data source=DESKTOP-OFVTSSQ;initial catalog=SI2_SV;user id=dummy;password=1234;" providerName="System.Data.SqlClient" />
    <add name="Jogos_entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OFVTSSQ;initial catalog=SI2_SV;user id=dummy;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	-->
	<add name="MasterPiece" connectionString="data source=DESKTOP-MARCO\SQLSERVER;initial catalog=SI2_SV;user id=marco;password=marco;" providerName="System.Data.SqlClient" />
	<add name="Jogos_entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MARCO\SQLSERVER;initial catalog=SI2_SV;user id=marco;password=marco;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<!--
	<add name="MasterPiece" connectionString="data source=DESKTOP-MARCO\SQLSERVER;initial catalog=SI2_SV;user id=marco;password=marco;" providerName="System.Data.SqlClient" />
	<add name="Jogos_entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MARCO\SQLSERVER;initial catalog=SI2_SV;user id=marco;password=marco;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	-->
  </connectionStrings>
</configuration>