<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MasterPiece"
        connectionString="data source=DESKTOP-QJ3PQCE\SQLEXPRESS;initial catalog=SI2_SemestreVerao;user id=Dummy;password=1234db"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>