<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MasterPiece"
        connectionString="data source=DESKTOP-MARCO\SQLSERVER;initial catalog=SI2;user id=marco;password=marco"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>